---
import {getDiscogsItemData} from "@src/utils/discogs";
import Layout from "@src/components/Layout.astro";
import Dump from "@src/components/Dump.astro";
import ReleaseData from "@src/components/ReleaseData.astro";
import ArtistData from "@src/components/ArtistData.astro";
import DiscogsReleaseGroups from "@src/components/DiscogsReleaseGroups.astro";
import DiscogsRelease from "@src/components/DiscogsRelease.astro";

const itemId = Astro.params.itemId;
const itemType = Astro.params.itemType;
const componentByItemType = {
    'release': ReleaseData,
    'artist': ArtistData
}

const isReleaseOrMaster = ['master','release'].includes(itemType);
const isArtist = itemType === 'artist';
const isLabel = itemType === 'label';

const fullDiscogsUrl = `https://www.discogs.com/${itemType}/${itemId}`;

const DataComponent = componentByItemType[itemType] || Dump;
const {itemData, dsData, releaseCredits, releaseGroups, releases} = await getDiscogsItemData({itemId, itemType});
console.log({releaseGroups})
---

<Layout>


    <form action="/search/discogs">
        <label for="discogs-input">Search Discogs</label>
        <input type="text" name="q" id="discogs-input" />
        <button>Search</button>
    </form>

    <h2>Item data</h2>

    <p><a href={fullDiscogsUrl}>View more info on Discogs</a></p>

    <DataComponent data={itemData} />

    {isReleaseOrMaster && (
    <h2>Release credits</h2>
    <ul>
        {releaseCredits && releaseCredits.map(credit => (
        <li><a href={`/discogs${credit.siteUrl}`}>{credit.creditRole} - {credit.name}</a></li>
        ))}
    </ul>
    <Dump data={releaseCredits} />
    )}

    {isArtist && (
    <h2>Release groups</h2>
    <Dump data={releaseGroups} />
    <DiscogsReleaseGroups groups={releaseGroups} />
    )}

    {isLabel && (
    <h2>Releases</h2>
    <Dump data={releases} />
    <div> 
    {releases?.map(release => (
    <DiscogsRelease {release} />
    ))}
    </div>
    )}

    <h2>DS data</h2>
    <Dump data={dsData} />
</Layout>
