---
import Dump from "./Dump.astro";
import SpotifyLookup from "./SpotifyLookup.astro";
import {getItemPathFromUrl} from "@src/utils/songkick"

const {data} = Astro.props;
---

<div>
<p>Description: {data.description}</p>
<p>Artists: {data.performer.map(artist => (
<div>
<a href={getItemPathFromUrl({url: artist.sameAs, itemType: 'artist'})}>{artist.name}
</a>
  <SpotifyLookup artist={artist.name} searchType="artist" />
</div>

))}</p>
<Dump data={data} />
</div>

<style>
  a {
    margin-left: 1rem;
  }

  a:not(:last-child)::after {
  content: ',' 
  }
</style>
